:root {
  --primary-color: #2f71e4;
  --secondary-color: #ffffff;
  --tertiary-color: #dd4443;
  --main-font: Exo, sans-serif;
  --secondary-font: "Rubik Mono One", sans-serif;
}
body {
  color: var(--secondary-color);
  font-family: var(--main-font);
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #dcdfea;
  transition: all 200ms ease;
}

a:hover {
  color: var(--tertiary-color);
}

.site-images {
  display: none;
}

a:hover img {
  display: block;
  position: absolute;
  max-width: 25%;
  max-height: 25%;
}

lottie-player {
  margin: 0 auto;
}

.index-hero {
  text-align: center;
  margin: 50px 20px;
}

.index-hero h1 {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 0;
}

.index-hero h3 {
  font-weight: 400;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.index-hero a:hover {
  text-decoration: underline;
}

.logo-period {
  color: var(--tertiary-color);
}

.about-contact-links a {
  font-size: 18px;
  line-height: 2px;
}

.legal-links {
  font-family: var(--secondary-font);
  margin-top: 100px;
}

.legal-links a {
  font-size: 12px;
  line-height: 2px;
}

.about-body {
  text-align: center;
}

.team-images {
  border-radius: 50%;
  max-width: 75%;
}

.team-info {
  text-align: left;
}

span.disclosures {
  text-decoration: underline;
}

@media (max-width: 450px) {
  .index-hero h1 {
    font-size: 34px;
  }
  img {
    display: none;
  }
  a:hover img {
    display: none;
  }

  .legal-links {
    margin-top: 70px;
  }
  .legal-links a {
    border: none !important;
  }
}
